[project]
name = "osm-fieldwork"
dynamic = ["version"]
description = "Convert CSV files from ODK Central to OSM format."
authors = [
    {name = "Rob Savoye", email = "rob.savoye@hotosm.org"},
]
dependencies = [
    "codetiming>=1.4.0",
    "epdb>=0.15.1",
    "geodex>=0.1.2",
    "geojson>=2.5.0",
    "progress>=1.6",
    "pymbtiles>=0.5.0",
    "PyYAML>=6.0",
    "qrcode>=7.4.2",
    "requests>=2.28.2",
    "segno>=1.5.2",
    "xmltodict>=0.13.0",
    "shapely>=1.8.5",
    "overpy>=0.6",
    "thefuzz>=0.19.0",
    "haversine>=2.8.0"

]
requires-python = ">=3.9"
readme = "README.md"
# license = "GPL-3.0-only"
keywords = ["fmtm", "odk", "hot", "openstreetmap", "opendatakit"]
classifiers = [
    "Topic :: Utilities",
    "Topic :: Scientific/Engineering :: GIS",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.9",
]

[project.urls]
homepage = "https://github.com/hotosm/osm-fieldwork/wiki"
documentation = "https://github.com/hotosm/osm-fieldwork/wiki"
repository = "https://github.com/hotosm/osm-fieldwork"

[project.optional-dependencies]
[tool.pdm]
version = {from = "osm_fieldwork/__version__.py"}
[tool.pdm.build]
includes = ["osm_fieldwork"]
source-includes = ["tests", "LICENSE.md", "README.md"]
[tool.pdm.dev-dependencies]
test = [
    "pytest>=7.2.1",
]

#[build-system]
#requires = ["pdm-pep517>=1.0.0"]
#build-backend = "pdm.pep517.api"

[tool.pytest.ini_options]
addopts = "-ra -q"
testpaths = [
    "tests",
]
pythonpath = "osm_fieldwork"

[tool.commitizen]
name = "cz_conventional_commits"
version = "0.3.2"
version_files = [
    "pyproject.toml:version",
    "osm_fieldwork/__version__.py",
    "Makefile:VERSION",
]

[project.scripts]
json2osm = "osm_fieldwork.json2osm:main"
csv2osm = "osm_fieldwork.CSVDump:main"
odk2csv = "osm_fieldwork.odk2csv:main"
odk2osm = "osm_fieldwork.odk2osm:main"
odk2geojson = "osm_fieldwork.odk2geojson:main"
odk_merge = "osm_fieldwork.odk_merge:main"
odk_client = "osm_fieldwork.odk_client:main"
make_data_extract = "osm_fieldwork.make_data_extract:main"
