name: Publish Docs

on:
  push:
    paths:
      - docs/**
      - osm_fieldwork/**
    branches: [main]
  # Allow manual trigger (workflow_dispatch)
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build_doxygen:
    name: Build Doxygen Docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Doxygen
        run: sudo apt-get update && sudo apt-get install -y doxygen

      - name: Build Doxygen Docs
        run: |
          cd docs
          doxygen

  publish_docs:
    name: Publish Docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV

      - name: Read cache
        uses: actions/cache@v3
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-

      - name: Install PDM
        run: |
          python3 -m pip install pdm

      - name: Publish
        run: |
          pdm install -G docs --no-default
          pdm run mkdocs gh-deploy --force
